# DB에 데이터 넣기 
## 기업개황

In [1]:
import pandas as pd
from urllib.request import urlopen
from bs4 import BeautifulSoup
import requests
import cx_Oracle
import datetime
import numpy

In [2]:
df = pd.read_excel('/Users/linakim/Desktop/최종프로젝트/데이터_가공/기업개황/기업개황_v3.xlsx',
                  dtype={'corp_code':str, 'bizr_no' : str, 'jurir_no' : str, 'country_code':str, 
                               'phn_no':str, 'country_code_fax':str, 'fax_no':str,
                        'est_dt':str, 'acc_mt':str},
                        index=False)

In [ ]:
df.head()

In [ ]:
df = df.drop(['Unnamed: 0'], axis=1)

In [ ]:
df = df.where(df.notnull(), None)

In [ ]:
df.isnull().sum()

In [ ]:
df = df.dropna(subset=['bizr_no'])

In [ ]:
df2 = df.drop_duplicates(['bizr_no'])

In [ ]:
len(df2)

### 데이터 업데이트를 위한 df 만들기

In [ ]:
df_corp_code = df2[['corp_code', 'bizr_no']]
df_corp_code.head(10)

In [ ]:
for i in range(len(df_corp_code)):
    kk = df_corp_code.iloc[i]
    sql_insert = "update corp set corp_code = :a where bizr_no = :b"
    cursor.execute(sql_insert, a=kk[0], b=kk[1])
    print(i)

In [ ]:
db = cx_Oracle.connect("SCOTT", "tiger", "localhost:1521/orcl")
cursor = db.cursor()

In [ ]:
for i in range(len(df2)):
    kk = df2.iloc[i]
    if(kk[12] != None and len(kk[12]) != 8):
        kk[12] = None

In [ ]:
for i in range(len(df2)):
    kk = df2.iloc[i]
    sql_insert = "insert into corp(bizr_no, name, name_eng, jurir_no, corp_cls, induty_code, adres, hm_url, country_code, phn_no, country_code_fax, fax_no, est_dt, acc_mt) values(:a, :b, :c, :d, :e, :f,:g,:h,:i,:j,:k,:l,to_date(:m, 'yyyymmdd'), :n)"
    cursor.execute(sql_insert, a=kk[0], b=kk[1], c=kk[2] ,d=kk[3], e=kk[4],f=kk[5],g=kk[6],h=kk[7],i=kk[8],j=kk[9],k=kk[10],l=kk[11],m=kk[12],n=kk[13])
    print(i)

In [ ]:
kk = df2.iloc[62]
sql_insert = "insert into corp(bizr_no, name, name_eng, jurir_no, corp_cls, induty_code, adres, hm_url, country_code, phn_no, country_code_fax, fax_no, est_dt, acc_mt) values(:a, :b, :c, :d, :e, :f,:g,:h,:i,:j,:k,:l,to_date(:m, 'yyyy-mm-dd'), :n)"
cursor.execute(sql_insert, a=kk[0], b=kk[1], c=kk[2] ,d=kk[3], e=kk[4],f=kk[5],g=kk[6],h=kk[7],i=kk[8],j=kk[9],k=kk[10],l=kk[11],m=kk[12],n=kk[13])

In [ ]:
for i in range(len(df2)):
    kk = df2.iloc[i]
    if(kk[12] != None and len(kk[12]) != 8):
        print(kk[12])

In [ ]:
db.commit()

In [ ]:
cursor.close()

In [3]:
db.close()

NameError: name 'db' is not defined

## 손익계산서

In [ ]:
icm = pd.read_excel('/Users/linakim/Desktop/최종프로젝트/데이터_가공/손익계산서/손익계산서_v4.xlsx', 
                   dtype={'bizr_no':str, '등록일': str},
                        index=False)

In [ ]:
type(icm['수익(매출액)'][0])

In [ ]:
icm = icm.drop(['Unnamed: 0'], axis=1)

In [ ]:

for i in range(len(icm)):
    kk = icm.iloc[i]
    if(kk[2] != None and len(kk[2]) != 8):
        kk[2] = None

In [ ]:
icm.head()

In [ ]:
icm = icm.where(icm.notnull(), None)

In [ ]:
def InConverter(value):
    return int(value)  # or whatever is needed to convert from numpy.int64 to an integer

def InputTypeHandler(cursor, value, num_elements):
    if isinstance(value, numpy.int64):
        return cursor.var(int, arraysize=num_elements, inconverter=InConverter)

cursor.inputtypehandler = InputTypeHandler

In [ ]:
db = cx_Oracle.connect("SCOTT", "tiger", "localhost:1521/orcl")
cursor = db.cursor()

In [ ]:
for i in range(len(icm)):
    kk = icm.iloc[i]
    sql_insert = "insert into icm_stmt(bizr_no, turn, issue_date, sales, busi_profits, net_incm) values(:a, :b, to_date(:c, 'yyyymmdd'), :d, :e, :f)"
    cursor.execute(sql_insert, a=kk[0], b=kk[1], c=kk[2] ,d=kk[3], e=kk[4],f=kk[5])
    print(i)

In [ ]:
db.commit()

In [ ]:
cursor.close()
db.close()

## 현금흐름표

In [ ]:
cashflow = pd.read_excel('/Users/linakim/Desktop/최종프로젝트/데이터_가공/현금흐름표/현금흐름표_v4.xlsx', 
                   dtype={'bizr_no':str, '등록일': str},
                        index=False)

In [ ]:
type(cashflow['수익(매출액)'][0])

In [ ]:
cashflow = cashflow.drop(['idx'], axis=1)

In [ ]:

for i in range(len(cashflow)):
    kk = cashflow.iloc[i]
    if(kk[2] != None and len(kk[2]) != 8):
        kk[2] = None

In [ ]:
cashflow.head()

In [ ]:
cashflow = cashflow.where(cashflow.notnull(), None)

In [ ]:
def InConverter(value):
    return int(value)  # or whatever is needed to convert from numpy.int64 to an integer

def InputTypeHandler(cursor, value, num_elements):
    if isinstance(value, numpy.int64):
        return cursor.var(int, arraysize=num_elements, inconverter=InConverter)

cursor.inputtypehandler = InputTypeHandler

In [ ]:
db = cx_Oracle.connect("SCOTT", "tiger", "localhost:1521/orcl")
cursor = db.cursor()

In [ ]:
for i in range(len(cashflow)):
    kk = cashflow.iloc[i]
    sql_insert = "insert into cash_flow(bizr_no, turn, issue_date, sales_cf, fin_cf, INVST_CF) values(:a, :b, to_date(:c, 'yyyymmdd'), :d, :e, :f)"
    cursor.execute(sql_insert, a=kk[0], b=kk[1], c=kk[2] ,d=kk[3], e=kk[4],f=kk[5])
    print(i)

In [ ]:
db.commit()

In [ ]:
cursor.close()
db.close()

## 재무상태표

In [ ]:
fsstatus = pd.read_excel('/Users/linakim/Desktop/최종프로젝트/데이터_가공/재무상태표/재무상태표_v4.xlsx', 
                   dtype={'bizr_no':str, '등록일': str},
                        index=False)

In [ ]:
type(fsstatus['수익(매출액)'][0])

In [ ]:
fsstatus = fsstatus.drop(['Unnamed: 0'], axis=1)

In [ ]:

for i in range(len(fsstatus)):
    kk = fsstatus.iloc[i]
    if(kk[2] != None and len(kk[2]) != 8):
        kk[2] = None

In [ ]:
fsstatus.head()

In [ ]:
fsstatus = fsstatus.where(fsstatus.notnull(), None)

In [ ]:
def InConverter(value):
    return int(value)  # or whatever is needed to convert from numpy.int64 to an integer

def InputTypeHandler(cursor, value, num_elements):
    if isinstance(value, numpy.int64):
        return cursor.var(int, arraysize=num_elements, inconverter=InConverter)

cursor.inputtypehandler = InputTypeHandler

In [ ]:
db = cx_Oracle.connect("SCOTT", "tiger", "localhost:1521/orcl")
cursor = db.cursor()

In [ ]:
for i in range(len(fsstatus)):
    kk = fsstatus.iloc[i]
    sql_insert = "insert into fs_status(bizr_no, turn, issue_date, CURR_AST, NON_CURR_AST, TTL_AST, CURR_LIAB, NON_CURR_LIAB, TTL_LIAB, CAPITAL, ERND_SPLUS, TTL_CAPITAL) values(:a, :b, to_date(:c, 'yyyymmdd'), :d, :e, :f, :g, :h, :i, :j, :k, :l)"
    cursor.execute(sql_insert, a=kk[0], b=kk[1], c=kk[2] ,d=kk[3], e=kk[4],f=kk[5], g=kk[6], h=kk[7], i=kk[8], j=kk[9], k=kk[10], l=kk[11])
    print(i)

In [ ]:
db.commit()

In [ ]:
cursor.close()
db.close()

## 대표자

In [ ]:
rep = pd.read_excel('/Users/linakim/Desktop/최종프로젝트/데이터_가공/대표자/대표자_v5.xlsx', 
                   dtype={'bizr_no':str, 'ceo_nm': str},
                        index=False)

In [ ]:
type(rep['수익(매출액)'][0])

In [ ]:
rep = rep.drop(['Unnamed: 0'], axis=1)

In [ ]:

for i in range(len(rep)):
    kk = rep.iloc[i]
    if(kk[2] != None and len(kk[2]) != 8):
        kk[2] = None

In [ ]:
rep.head()

In [ ]:
rep = rep.where(rep.notnull(), None)

In [ ]:
rep = rep.drop_duplicates()

In [ ]:
def InConverter(value):
    return int(value)  # or whatever is needed to convert from numpy.int64 to an integer

def InputTypeHandler(cursor, value, num_elements):
    if isinstance(value, numpy.int64):
        return cursor.var(int, arraysize=num_elements, inconverter=InConverter)

cursor.inputtypehandler = InputTypeHandler

In [ ]:
db = cx_Oracle.connect("SCOTT", "tiger", "localhost:1521/orcl")
cursor = db.cursor()

In [ ]:
for i in range(len(rep)):
    kk = rep.iloc[i]
    sql_insert = "insert into rep(bizr_no, rep_name) values(:a, :b)"
    cursor.execute(sql_insert, a=kk[0], b=kk[1])
    print(i)

In [ ]:
db.commit()

In [ ]:
cursor.close()
db.close()

In [ ]:
rep.iloc[3496]

## 대출상품 넣기

In [ ]:
loanProd = pd.read_excel('/Users/linakim/Desktop/최종프로젝트/데이터_추출/대출상품_v2.xlsx',
                        dtype = {
                           'interest':float, 'mid_rpy_fee_rate' : int
                        }, index=False)

In [ ]:
loanProd.isnull().sum()

In [ ]:
loanProd.head()

In [ ]:
def InConverter(value):
    return int(value)  # or whatever is needed to convert from numpy.int64 to an integer

def InputTypeHandler(cursor, value, num_elements):
    if isinstance(value, numpy.int64):
        return cursor.var(int, arraysize=num_elements, inconverter=InConverter)

cursor.inputtypehandler = InputTypeHandler

In [ ]:
db = cx_Oracle.connect("SCOTT", "tiger", "localhost:1521/orcl")
cursor = db.cursor()

In [ ]:
for i in range(len(loanProd)):
    kk = loanProd.iloc[i]
    sql_insert = "insert into loan_prod values(:a, :b, :c, :d, :e, :f, :g, :h, :i, :j, :k, :l)"
    cursor.execute(sql_insert, a=kk[0], b=kk[1], c=kk[2], d=kk[3], e=kk[4], f=kk[5], g=kk[6], h=kk[7], i=kk[8], j=kk[9], k=kk[10], l=kk[11])
    print(i)

In [ ]:
db.commit()

In [ ]:
cursor.close()
db.close()